<?xml version="1.0" ?>

<launch>
    <arg name="robot_ip" default="172.16.0.2" />
    <arg name="load_gripper" default="false" />
    <arg name="virt" default="false" />

    <!-- Launch franka_control node -->
    <include file="$(find franka_control)/launch/franka_control.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
	    <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <!-- Launch move_group -->
    <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
	    <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <!-- Launch calc_stop_duration_for_server node -->
    <node pkg="collision_avoidance" name="calc_stop_duration_server" type="calc_stop_duration_server.py">
    </node>

    <!-- Launch flag_stop_server node -->
    <node pkg="collision_avoidance" name="flag_stop_server" type="flag_stop_server.py" output="screen">
    </node>

    <!-- Launch demo_stop_event_traj node -->
    <node pkg="collision_avoidance" name="demo_stop_event_traj" type="demo_stop_event_traj.py" output="screen">
    </node>
</launch>
