<?xml version="1.0" ?>

<launch>
    <arg name="robot_ip" default="172.16.0.2" />
    <arg name="load_gripper" default="false" />

    <!-- Launch franka_control node -->
    <include file="$(find franka_control)/launch/franka_control.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
	    <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <!-- Launch marker_pos_calculator node -->
    <node pkg="collision_avoidance" name="marker_pos_calculator" type="marker_pos_calculator.py" output="screen">
    </node>
</launch>

