<?xml version="1.0" ?>

<launch>

    <arg name="robot_ip" default="172.16.0.2" />
    <arg name="load_gripper" default="false" />

    <!-- Launch franka_control node -->

    <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <!-- Launch move_group -->

    <include file="$(find ur5e_moveit_config)/launch/ur5e_moveit_planning_execution.launch">
    </include>

</launch>

